*.egg-info/
models/__pycache__/
.idea
__pycache__/
.ipynb_checkpoints
*.png
*_CODE
imgs
*.txt
test.py
*.pkl
prep.py
Untitled.ipynb
test_config.py
model_time.py
model_time_1.py
mnist_testing.ipynb
mnist_testing.py
make_spikes.py
distance_test.py
thesis_things

